# 忽略Maven编译产物
tomatoMall-backend/target/
# 忽略IDE配置文件（如果用IDEA/Eclipse）
.idea/
*.iml
.classpath
.project
.settings/
# 忽略日志、临时文件
*.log
tmp/
# 忽略jar包
*.jar

# 忽略配置（阿里云密匙）
tomatoMall-backend/src/main/resources/application.yml
# 前端依赖包
tomatoMall-frontend/node_modules/

**/application.yml

# Python validation helpers
__pycache__/
*.pyc
